body{
    background-image:url(https://p4.wallpaperbetter.com/wallpaper/1012/821/144/pianos-keys-musical-instrument-wallpaper-preview.jpg);
    background-size: 100%;
}
.sheets{
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 250px;
}
.key{
    border: 3px solid black;
    margin: 25px;
    padding: 25px;
    font-style: italic;
}
kbd{
    display: block;
}